# --- monorepo ---
!apps/
!packages/

# ignore generated stuff
apps/**/.next/
apps/**/node_modules/
apps/**/dist/
apps/**/out/
apps/**/.turbo/
apps/**/.vercel/

packages/**/node_modules/
packages/**/dist/
packages/**/build/

# dependencies
/node_modules
**/node_modules/

# next.js
/.next/
**/.next/
out/
.vercel/

# dart/flutter build
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# env
.env*
!.env.example

# misc
.DS_Store
Thumbs.db
.vscode/
*.tsbuildinfo
